image-build:
  image: docker
  stage: build
  rules:
    - changes:
        - PipelineDockerfile
  script:
    - docker build -f PipelineDockerfile -t database-api-ci-image:$CI_COMMIT_REF_NAME .

google-tests:
  image: database-api-ci-image:$CI_COMMIT_REF_NAME
  stage: test
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
    - wget https://downloads.apache.org/cassandra/3.11.10/apache-cassandra-3.11.10-bin.tar.gz
    - tar xzf apache-cassandra-3.11.10-bin.tar.gz
  script:
    - pwd
    - rm -rf apache-cassandra-3.11.10/data
    - apache-cassandra-3.11.10/bin/cassandra -R
    - sleep 20
    - apache-cassandra-3.11.10/bin/cqlsh -f ./testdata.cql
    - rm -rf database_build
    - mkdir database_build
    - cd database_build
    - cmake ..
    - cmake --build .
    - ./Database-API_Test/tests --gtest_output="xml:report.xml"


linting:
  image: database-api-ci-image:$CI_COMMIT_REF_NAME
  stage: test
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
    - apt-get -y install clang clang-tidy clang-format
  script:
    - cd Database-API
    - clang-tidy *.cpp -- -I../Resources/include/
    - clang *.cpp -I../Resources/include/ -fsyntax-only
