image-build:
  image: docker
  stage: build
  rules:
    - changes:
        - PipelineDockerfile
  script:
    - docker build -f PipelineDockerfile --no-cache -t database-api-ci-image:$CI_COMMIT_REF_NAME .

google-tests:
  image: database-api-ci-image:$CI_COMMIT_REF_NAME
  stage: test
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
    - wget -nv https://downloads.apache.org/cassandra/3.11.10/apache-cassandra-3.11.10-bin.tar.gz
    - tar xzf apache-cassandra-3.11.10-bin.tar.gz
  script:
    - rm -rf apache-cassandra-3.11.10/data
    - apache-cassandra-3.11.10/bin/cassandra -R
    - sleep 20
    - apache-cassandra-3.11.10/bin/cqlsh -f ./testdata.cql
    - rm -rf database_build
    - mkdir database_build
    - cd database_build
    - cmake ..
    - cmake --build .
    - ./tests/tests --gtest_output="xml:report.xml"


linting:
  image: database-api-ci-image:$CI_COMMIT_REF_NAME
  stage: test
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
    - apt-get -y install clang clang-tidy clang-format
  script:
    - clang-tidy libSearchSECODatabaseAPI/Database-API/*.cpp libSearchSECODatabaseAPI/General/*.cpp libSearchSECODatabaseAPI/JobDistribution/*.cpp -- 
      -Iexternal/include/ -IlibSearchSECODatabaseAPI/Database-API/ -IlibSearchSECODatabaseAPI/General/ -IlibSearchSECODatabaseAPI/JobDistribution/ 
    - clang libSearchSECODatabaseAPI/Database-API/*.cpp libSearchSECODatabaseAPI/General/*.cpp libSearchSECODatabaseAPI/JobDistribution/*.cpp -Iexternal/include/ 
      -IlibSearchSECODatabaseAPI/Database-API/ -IlibSearchSECODatabaseAPI/General/ -IlibSearchSECODatabaseAPI/JobDistribution/ -fsyntax-only
