version: '3.5'

services:
  cassandra:
      build:
        context: .
        dockerfile: CassandraDockerfile
      container_name: cassandra
      restart: always
      ports:
        - "8001:8001"
        - "8002:8002"
        - "8000:9500"
      environment:
        - CASSANDRA_BROADCAST_ADDRESS=${IP}
        - CASSANDRA_SEEDS=${IP},${SEEDS}
        - CASSANDRA_DC=dc${IP}
      volumes:
        - ${LOC}:/var/lib/cassandra
      
  database-api:
      container_name: api
      restart: always
      build: .
      ports:
        - "8003:8003"
