name: Testing pipeline
on: [push]
jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: mkdir dependencies && \
             cd dependencies && \
             apt-get -y update && \
             apt-get -y dist-upgrade && \
             apt-get -y install gcc g++ cmake autoconf dpkg wget git && \
             apt-get -y install libboost-all-dev && \
             wget -nv http://archive.ubuntu.com/ubuntu/pool/main/g/glibc/multiarch-support_2.27-3ubuntu1.4_amd64.deb && \
             dpkg -i multiarch-support_2.27-3ubuntu1.4_amd64.deb && \
             apt-get -y install libssl-dev libkrb5-dev zlib1g && \
             wget -nv https://downloads.datastax.com/cpp-driver/ubuntu/18.04/dependencies/libuv/v1.35.0/libuv1_1.35.0-1_amd64.deb && \
             dpkg -i libuv1_1.35.0-1_amd64.deb && \
             wget -nv https://downloads.datastax.com/cpp-driver/ubuntu/18.04/cassandra/v2.15.3/cassandra-cpp-driver_2.15.3-1_amd64.deb && \
             dpkg -i cassandra-cpp-driver_2.15.3-1_amd64.deb && \
             apt-get -y install openjdk-8-jdk python
      - name: Install Cassandra
        run: wget -nv https://downloads.apache.org/cassandra/3.11.10/apache-cassandra-3.11.10-bin.tar.gz && \
             tar xzf apache-cassandra-3.11.10-bin.tar.gz
      - name: Tests
        run: rm -rf apache-cassandra-3.11.10/data && \
             apache-cassandra-3.11.10/bin/cassandra -R && \
             sleep 20 && \
             apache-cassandra-3.11.10/bin/cqlsh -f ./testdata.cql && \
             rm -rf database_build && \
             mkdir database_build && \
             cd database_build && \
             cmake .. && \
             cmake --build . && \
             ./tests/tests --gtest_output="xml:report.xml" && \
  Linting:
    runs-on: ubuntu-latest
    steps:
        - run: echo "Running linting"